@model IEnumerable<User>

@{
    ViewData["Title"] = "User's list";
}

<style>
    .icon-button {
        color: gray;
    }

        .icon-button:hover {
            color: blue;
            cursor: pointer;
        }
</style>
<div class='row p-2' style='flex-direction: column;'>
    <p style='text-align: center;'><i class="fa fa-info icon-button" style="font-size:18px;" data-toggle='tooltip' title='Process selected' onclick="processAll();"></i></p>
</div>
<table class="table table-striped table-bordered" id='table-user'>

    <thead>
        <tr>
            <th><input type="checkbox" id="select-all" onchange='selectAll(event, this)' /></th>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>actions</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>@user.Id</td>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
            <td>@user.CreatedAt</td>
            <td class="text-center"><i class="fa fa-info icon-button" data-toggle="tooltip" title="Delete" onclick="sendRequest(@user.Id);"></i></td>
        </tr>
    }
</table>



@section Scripts{
    <script src="~/js/pages/users/Index.js" asp-append-version="true"></script>
}